sudo: true
language: python
python:
 - '2.7'
sudo: required
services:
- docker
before_install:
- docker pull f5devcentral/containthedocs
install: true
script:
- ./scripts/docker-docs.sh ./scripts/test-docs.sh
deploy:
- provider: script
  skip_cleanup: true
  on:
    branch: v1
    repo: F5Networks/f5-openstack-docs
  script:
  - ./scripts/deploy-docs.sh publish-cloud-docs-to-prod openstack latest
notifications:
 slack:
  rooms:
   - f5openstackdev:$SLACK_TOKEN#f5-openstack-docs
   - f5openstackdev:$SLACK_TOKEN#build_status
  on_success: change
  on_failure: always
