<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>

<body>
<header class="site-header">
  <div class="wrapper">
    
    <nav class="navbar navbar-default navbar-inverse">
      <div class="container-fluid"> 
      
      <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="https://github.com/F5Networks" target="blank">F5 Cloud Ready</a> 
        </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">OpenStack <span class="sr-only">(current)</span></a> </li>
            <li><a href="#">Guides</a> </li>
            <li><a href="#">Training</a> </li>
            <li><a href="#">Resources</a> </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://devcentral.f5.com/" target="blank">DevCentral</a> </li>
            <li><a href="https://support.f5.com/kb/en-us.html" target="blank">Support</a> </li>
          </ul>
        </div> <!-- /.navbar-collapse --> 
       </div> <!-- /.container-fluid --> 
  
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron">
        <h1 class="text-center">F5 OpenStack</h1>
          <div class="text-center">
          <h2>Uniquely Cloud-Ready.</h2>
            <p><a class="btn btn-success btn-lg" href="https://github.com/F5Networks" role="button">Find us on GitHub</a></p>
            <!--p class="text-center">Moving applications to the cloud adds flexibility, helps trim costs, and frees up IT for strategic projects.</p>
            <p class="text-center">F5's Cloud Ready solutions help you replicate services - and the policies you've worked so hard to fine-tune - across cloud environments.</p>
            <p class="text-center">The F5 OpenStack suite lets you access our source code. Our tools can help you build a stack and deploy F5-supported plug-ins. Our Cloud Ready solutions let you manage your resources and services in the way that's right for your business.</p>-->
          </div>
        <!--<img src="img/1200X400.gif" alt="" class="img-responsive"!>--> 
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="text-center col-sm-6">
      <h3>OpenStack Deployment</h3>
      <p>Full OpenStack set-up using the F5 LBaaS v1 plugin.</p>
      <a class="btn btn-danger btn-lg" href="#" role="button">Get Started</a></div>
    <div class="text-center col-sm-6">
      <h3>F5 OpenStack Guides</h3>
      <p>Learn how to use F5 plug-ins in OpenStack, discover the architecture, and more.</p>
      <a class="btn btn-info btn-lg" href="#" role="button">Browse the Docs</a></div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <h3><a href="lbaasv1/guides/HowTo-DeployLBaaSPlugin.html" target="blank">F5 LBaaSv1 Plug-in</a></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis accusamus praesentium eveniet ad unde doloremque ex officia eius ab quibusdam.</p>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <h3>F5 Agent</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, mollitia natus amet eligendi consequuntur. Veritatis ullam debitis voluptas repellat laboriosam.</p>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <h3>F5 OpenStack Deployment Kit</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, error, itaque non vel architecto ratione obcaecati doloribus delectus illum harum?</p>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <h3>F5 Dev Resources</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, nam voluptate accusantium nulla distinctio odit aliquam voluptatem ab. Earum, voluptatibus.</p>
    </div>
  </div>
</div>

<!--<section class="well">
<h2 class="text-center">Video Tutorials</h2>
<hr>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lFqDM_YlXV8"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="thumbnail"> <img src="img/600X300.gif" alt="Thumbnail Image 1" class="img-responsive">
        <div class="caption">
          <h3>Feature</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, at.</p>
          <hr>
          <p><a href="#" class="btn btn-success" role="button">Button</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="thumbnail"> <img src="img/600X300.gif" alt="Thumbnail Image 1" class="img-responsive">
        <div class="caption">
          <h3>Feature</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, atque.</p>
          <hr>
          <p><a href="#" class="btn btn-success" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div>
</div>-->
<hr>
<div class="container">
  <div class="row">
<div class="col-lg-4 col-md-6 col-sm-6">
      <h2><a href="https://f5.com/about-us/contact" target="blank">Contact Us</a></h2>
      <address>
      <strong>F5 Networks, Inc.</strong><br>
      351 Elliott Ave West, Seattle,<br>
      WA, 98119-4017, US<br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
      <h4>Social</h4>
<div class="row">
      	<div class="col-xs-2"><a href="https://twitter.com/f5networks" target="_blank" data-name="twitter" data-type="" data-prefix="social" data-utf="E032" title="Twitter" class="externalLink"><img class="img-circle" src="img/32X32.gif" alt="Twitter"></a></div>
      	<div class="col-xs-2"><a href="https://www.linkedin.com/companies/f5-networks" target="_blank" class="linkedin externalLink" title="LinkedIn"><img class="img-circle" src="img/32X32.gif" alt="LinkedIn"></a></div>
      	<div class="col-xs-2"><a href="https://www.facebook.com/f5networksinc" target="_blank" class="facebook externalLink" title="Facebook"><img class="img-circle" src="img/32X32.gif" alt="Facebook"></a></div>
      	<div class="col-xs-2"><a href="https://www.youtube.com/f5networksinc" target="_blank" class="youtube externalLink" title="YouTube"><img class="img-circle" src="img/32X32.gif" alt="YouTube"></a></div>        
      </div>
    </div>
    <!--<div class="col-lg-4 col-md-6 col-sm-6">
      <h2>Testimonials</h2>
      <div class="media">
        <div class="media-left"> <a href="#"> <img class="media-object" src="img/35X35.gif" alt="..."> </a> </div>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. </div>
      </div>
      <div class="media">
        <div class="media-left"> <a href="#"> <img class="media-object" src="img/35X35.gif" alt="..."> </a> </div>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">-->
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, voluptates, soluta velit nostrum ut iste exercitationem vitae ipsum repellendus laudantium ab possimus nemo odio cumque illum nulla laborum blanditiis unde.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, voluptates, soluta velit nostrum ut iste exercitationem vitae ipsum repellendus laudantium ab possimus nemo odio cumque illum nulla laborum blanditiis unde.</p>
    </div>
  </div>
</div>
  <hr>
<footer class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>Copyright  F5 Networks. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="js/jquery-1.11.2.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="js/bootstrap.min.js"></script>
</body>
</html>
