<link href="../css/f5-styles.css" rel="stylesheet" type="text/css">
<link href="../css/font-awesome.css" rel="stylesheet" type="text/css">
<footer id="F5-Footer">

<div class="container">
  <ul class="links">
              <li>
                <p class="toggleNext toggleMobile"><span class="icon-down visible-xs-inline hidden-ie">&#8203;</span> Connect With Us</p>
                <ul class="social-media">
                    
                    <!-- en -->
                    <li><a href="//twitter.com/f5networks" target="_blank" data-name="twitter" data-type="" data-prefix="social" data-utf="E032" title="Twitter" class="externalLink"><i class="icon-twitter "></i></a> </li>
                    <li><a href="//www.linkedin.com/companies/f5-networks" target="_blank" class="linkedin externalLink" title="LinkedIn"><i class="icon-linkedin "></i></a> </li>
                    <li><a href="//www.facebook.com/f5networksinc" target="_blank" class="facebook externalLink" title="Facebook"><i class="icon-facebook "></i></a> </li>
                    <li><a href="//www.youtube.com/f5networksinc" target="_blank" class="youtube externalLink" title="YouTube"><i class="icon-youtube "></i></a> </li>
                    <li><a href="//devcentral.f5.com/" target="_blank" class="devcentral currentURL internalLink" title="DevCentral"><i class="icon-dc-pos "></i></a> </li>
                    
                </ul>
            </li>
      
  {% if site.github_username %}
       		<li><p class="toggleNext toggleMobile"><span class="icon-down visible-xs-inline hidden-ie">&#8203;</span>Find Us On GitHub</p>
      <ul>
      	<li>
        <a href="https://github.com/{{ site.github_username }}"><span class="username">{{ site.github_username }}/</span><span class="repo">{{ site.github_repo }}</span>  
        </a>
      	</li>

      {% if site.current-version %}
      	<li>
        Current version: {{ site.current-version }}
    	</li>
      {% endif %}
  {% endif %}    
	</ul>
    </li>
    </ul>
  </div>
    
<div class="back-to-top"><a><span class="icon-up">&#8203;</span></a></div>
</footer>
