<footer>
  <div class="footer">
      <ul class="list-inline">
      <li class="fa fa-3x"><a href="http://github.com/F5Networks" target="_blank" title="GitHub" ><i class="fa-github-square"></i></a></li>
      <li class="fa fa-3x"><a href="http://twitter.com/f5networks" target="_blank" title="Twitter" ><i class="fa-twitter-square"></i></a></li>
      <li class="fa fa-3x"><a href="http://www.linkedin.com/companies/f5-networks" target="_blank" title="LinkedIn"><i class="fa-linkedin-square"></i></a></li>
      <li class="fa fa-3x"><a href="http://www.facebook.com/f5networksinc" target="_blank" title="Facebook"><i class="fa-facebook-square"></i></a></li>
      <li class="fa fa-3x"><a href="http://www.youtube.com/f5networksinc" target="_blank" title="YouTube"><i class="fa-youtube-square"></i></a></li>
    </ul>
  </div>
</footer>