<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topFixedNavbar1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        <a class="navbar-brand" href="http://f5.com"><img src="https://cdn.f5.com/digital-platforms/images/logo.svg" alt="F5 Networks" height="25"></a> </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="topFixedNavbar1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="http://github.com/F5Networks">F5Networks on GitHub<span class="sr-only">(current)</span></a></li>
          <li><a href="http://devcentral.f5.com">DevCentral</a></li>
          <li><a href="http://support.f5.com">Support</a></li>
          <li><a href="https://devcentral.f5.com/d/openstack-neutron-lbaas-driver-and-agent">Get the LBaaSv1 Plugin</a></li>
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Project Repos<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <!--li><a href="https://github.com/F5Networks/f5-openstack-lbaasv2">F5 OpenStack LBaaSv2 Plug-in</a></li-->
              <li role="separator" class="divider"></li>
              <!--li><a href="#">F5 OpenStack API Libraries</a></li-->
              <li><a href="https://github.com/F5Networks/openstack-f5-lbaasv1">F5 OpenStack LBaaSv1 plugin driver</a></li>
              <li><a href="https://github.com/F5Networks/f5-openstack-agent">F5 OpenStack LBaaSv1 plugin agent</a></li>
               <li role="separator" class="divider"></li>
              <li><a href="https://github.com/F5Networks/f5-common-python">F5 common python</a></li>
              <li><a href="https://github.com/F5Networks/f5-openstack-odk">F5 OpenStack Deployment Kit</a></li>
              <li><a href="https://github.com/F5Networks/f5-openstack-heat-plugins">F5 OpenStack Heat Plug-ins</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Partners<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Mirantis</a></li>
              <!--li><a href="#">Another action</a></li-->
              <!--li><a href="#">Something else here</a></li-->
              <li role="separator" class="divider"></li>
              <!--li><a href="#">Separated link</a></li-->
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</header>