<head>

<link rel="icon" sizes="196x196" href="http://cdn.f5.com/digital-platforms/images/f5-196.png">

<title>F5 OpenStack | Cloud Ready</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/bootstrap.css">
<!-- Bootstrap theme -->
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="{{ site.url }}{{ site.baseurl }}/css/font-awesome.css">
<!-- jquery -->
<script src="http://code.jquery.com/jquery-1.11.3.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.js"></script>


<!--styles>
<link rel="stylesheet" href="{{ "/css/bootstrap.css" | prepend: site.baseurl | prepend: site.url }}" type="text/css">
<link rel="stylesheet" href="{{ "/css/bootstrap-theme.css" | prepend: site.baseurl | prepend: site.url }}" type="text/css"-->

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

</head>
