<header>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="http://f5.com"><img src="https://cdn.f5.com/digital-platforms/images/logo.svg" alt="F5 Networks" height="25" /></a> </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="topFixedNavbar1">
        <ul class="nav navbar-nav">
          <li><a href="http://devcentral.f5.com" target="_blank">F5 DevCentral</a></li>
          <li><a href="http://support.f5.com" target="_blank">F5 Support</a></li>
          <li><a href="https://devcentral.f5.com/d/openstack-neutron-lbaas-driver-and-agent" target="_blank">Get the F5 LBaaSv1 Plugin</a></li>      
          <li><a href="http://github.com/F5Networks" target="_blank">F5Networks on GitHub<span class="sr-only"></span></a></li>
          <li class="dropdown"><a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">F5Networks Project Repos<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <!--li><a href="https://github.com/F5Networks/f5-openstack-lbaasv2">F5 OpenStack LBaaSv2 Plug-in</a></li-->
              <li role="separator" class="divider"></li>
              <!--li><a href="#">F5 OpenStack API Libraries</a></li-->
              <li><a href="https://github.com/F5Networks/openstack-f5-lbaasv1" target="_blank">F5 OpenStack LBaaSv1 plugin driver</a></li>
              <li><a href="https://github.com/F5Networks/f5-openstack-agent" target="_blank">F5 OpenStack LBaaSv1 plugin agent</a></li>
               <li role="separator" class="divider"></li>
              <li><a href="https://github.com/F5Networks/f5-common-python" target="_blank">F5 common python</a></li>
              <li><a href="https://github.com/F5Networks/f5-openstack-odk" target="_blank">F5 OpenStack Deployment Kit</a></li>
              <li><a href="https://github.com/F5Networks/f5-openstack-heat-plugins" target="_blank">F5 OpenStack Heat Plug-ins</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Partners<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#" target="_blank">Mirantis</a></li>
              <li><a href="https://access.redhat.com/ecosystem/software/1446683" target="_blank">Red Hat</a></li>
              <!--li><a href="#">Something else here</a></li-->
            </ul>
          </li>
        <!--form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form-->
         
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>



</header>

