<head>

<link rel="icon" sizes="196x196" href="http://cdn.f5.com/digital-platforms/images/f5-196.png">

<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>    

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Site metadata -->
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">


<!-- tocify styles-->
<link type="text/css" rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/jquery.tocify.css">
<!-- Bootstrap / Bootsrap Docs CSS -->
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/bootstrap.css">
<!--link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/bootstrap-docs.css" type="text/css"-->
<!-- Bootstrap theme -->
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/bootstrap-theme.css">
<!--Font Awesome -->
<link rel="stylesheet" type="text/css" href="{{ site.url }}{{ site.baseurl }}/css/font-awesome.css">
<!-- jquery -->
<script src="http://code.jquery.com/jquery-1.11.3.js"></script>
<!-- Latest compiled and minified Bootstrap JavaScript -->
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.js"></script>
<!-- tocify scripts -->
<script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/jquery.tocify.js"></script>

<!-- cannonical link settings
 <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">-->

 <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
   
</head>

