
<!-- tocify by Greg Franko gfranko / jquery.tocify.js-->
<!DOCTYPE html>
<html lang="en">

    <!-- tocify styles-->
    <link type="text/css" rel="stylesheet" href="{{ "css/jquery.tocify.css" | prepend: site.url }}">
    <link type="text/css" rel="stylesheet" href="{{ "css/bootstrap.css" | prepend: site.url }}">

    <!-- tocify scripts-->

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="{{ "js/jquery.tocify.min.js" | prepend: site.url }}"></script>

    
