
<!-- tocify by Greg Franko gfranko / jquery.tocify.js-->
<!DOCTYPE html>
<html lang="en">

    <!-- tocify styles-->
    <link type="text/css" rel="stylesheet" href="../assets/css/jquery.tocify.css">
    <link type="text/css" rel="stylesheet" href="../assets/css/bootstrap.css">

    <!-- tocify scripts-->

    <script src="http://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="../assets/js/jquery.tocify.js"></script>
    
