<footer>
  <ul class="list-inline-push">
   <li><a href="http://f5networks.github.io/f5-openstack-docs" title="home"><i class="fa fa-home fa-3x"></i></a></li>
  <ul class="list-inline-pull">
       <li><a href="http://github.com/F5Networks" target="_blank" title="GitHub"><i class="fa fa-github-square fa-3x fa-pull-right"></i></a></li>
       <li><a href="http://twitter.com/f5networks" target="_blank" title="Twitter"><i class="fa fa-twitter-square fa-3x fa-pull-right"></i></a></li>
       <li><a href="http://www.linkedin.com/companies/f5-networks" target="_blank" title="LinkedIn"><i class="fa fa-linkedin-square fa-3x fa-pull-right"></i></a></li>
       <li><a href="http://www.facebook.com/f5networksinc" target="_blank" title="Facebook"><i class="fa fa-facebook-square fa-3x fa-pull-right"></i></a></li>
       <li><a href="http://www.youtube.com/f5networksinc" target="_blank" title="YouTube"><i class="fa fa-youtube-square fa-3x fa-pull-right"></i></a></li>
       </ul>    
    </ul>
   <div class="sub-footer">
       <div class="text-center">© 2016 F5 Networks, Inc.  All rights reserved.</div>
   </div>
</footer>
