<header>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="http://f5.com"><img src="https://cdn.f5.com/digital-platforms/images/logo.svg" alt="F5 Networks" height="25" /></a> </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="topFixedNavbar1">
        <ul class="nav navbar-nav">
          <li><a href="http://devcentral.f5.com" target="_blank">F5 DevCentral</a></li>
          <li><a href="http://support.f5.com" target="_blank">F5 Support</a></li>

          <li class="dropdown"><a href="" data-proofer-ignore class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Partners<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li></li>
              <li><a href="https://www.mirantis.com/partners/unlocked-partner-catalog/" target="_blank"><strong>Mirantis</strong></a></li>
              <li role="separator" class="divider"></li>
              <li><a href="https://access.redhat.com/ecosystem/software/1446683" target="_blank"><strong>Red Hat</strong></a></li>
            </ul>
          </li>

        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

</header>

