<!DOCTYPE html>
<html>
 {% include head_for_docs.html %}

<body>
  {% include header.html %}
 <hr>  
     <div class="bs-docs-header">
    <h1>{{ page.title }}</h1>
   </div>
  </div>

  <div class="bs-docs-sidebar">
    <div class="bs-docs-sidenav" id="toc">
    </div>
  </div>
 <div class="bs-docs-container">
  	
		 {{ content }}
    
	</div>
 
<hr>
{% include footer.html %}
</body>

<!-- tocify scripts-->
<script src="http://code.jquery.com/jquery-1.11.3.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="{{ '/js/jquery.tocify.js' | prepend: site.baseurl | prepend: site.url }}"></script>
<script>
        $(function() {
            //Calls the tocify method on the HTML div.
            $("#toc").tocify();
        });
</script>    
</html>          

