<!doctype html>
<html lang="en">

  {% include head_for_docs.html %}

  <body>

    {% include header.html %}
     

    <div class="page-content">
      <div class="wrapper">
        <div class="tocify col-sm-3 col-md-3">
          <div id="toc">
          </div><!--/toc -->
        </div><!--/tocify-->
        <div class="col-sm-9 col-md-9">
      
        {{ content }}
      
      </div>
    </div>

    {% include footer.html %}

  </body>

    {% include doc-bootstrap-javascript.html %}
  
</html>          
      